<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>Career Assistance</title>

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/line-icons.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

  </head>
  
  <body>

    <!-- Header Section Start -->
    <header id="home" class="hero-area"> 
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <div class="theme-header clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="lni-menu"></span>
                <span class="lni-menu"></span>
                <span class="lni-menu"></span>
              </button>
              <a href="index.html" class="navbar-brand"><img src="/static/img/logo.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item active">
                  <a class="nav-link" href="http://localhost:8080">
                    Home
                  </a>
                </li>
				<li class="nav-item">
                  <a class="nav-link" href="http://localhost:8080/about">
                    About
                  </a>
                </li>
                
               
               
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:8080/contact">
                    Contact
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:8080/login">Sign In</a>
                </li>n
                <li class="button-group">
                  <a href="http://localhost:8080/postJob" class="button btn btn-common">Post a Job</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mobile-menu" data-logo="/static/img/logo-mobile.png"></div>
      </nav>
      <!-- Navbar End -->           
    </header>
    <!-- Header Section End --> 

    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">         
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Contact</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->  
    
    <!-- Contact Section Start -->
    <section id="contact" class="section">      
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area">          
            <div class="col-md-12 col-lg-6 col-sm-12">
              <div class="contact-block">
                <h2>Contact Form</h2>
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" placeholder="Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12">
              <div class="contact-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="contact-info">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="lni-map-marker"></i>
                    </div>
                    <p>Main Office: NO.22-23 Street Name- City,Country <br> Customer Center: NO.130-45 Streen Name- City, Country</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="lni-envelope"></i>
                    </div>
                    <p><a href="mailto:hello@tom.com">Customer Support: info@mail.com Technical Support: </a></p>
                    <p><a href="mailto:tomsaulnier@gmail.com">support@mail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="lni-phone-handset"></i>
                    </div>
                    <p><a href="#">Main Office: +880 123 456 789</a></p>
                    <p><a href="#">Customer Supprort: +880 123 456 789</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div id="conatiner-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13004080.414077152!2d-104.65693512785852!3d37.27559283318413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1530855407925" allowfullscreen=""></iframe>
              </div> 
            </div>
          </div>
        </div>
      </div>   
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
              <div class="widget">
                <div class="footer-logo"><img src="/static/img/logo-footer.png" alt=""></div>
                <div class="textwidget">
                  <p>Sed consequat sapien faus quam bibendum convallis quis in nulla. Pellentesque volutpat odio eget diam cursus semper.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-12">
              <div class="widget">
                <h3 class="block-title">Quick Links</h3>
                <ul class="menu">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">License</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
                <ul class="menu">
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Refferal Terms</a></li>
                  <li><a href="#">Product License</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-12">
              <div class="widget">
                <h3 class="block-title">Subscribe Now</h3>
                <p>Sed consequat sapien faus quam bibendum convallis.</p> 
                <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                  <div class="form-group is-empty">
                    <input type="email" value="" name="Email" class="form-control" id="EMAIL" placeholder="Enter Email..." required="">
                    <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn"><i class="lni-envelope"></i></button>
                    <div class="clearfix"></div>
                  </div>
                </form>
                <ul class="mt-3 footer-social">
                  <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                  <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                </ul>        
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer area End -->
      
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info text-center">
               
              </div>     
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->
    </footer>
    <!-- Footer Section End -->  

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-arrow-up"></i>
    </a> 

   

   <!-- jQuery first, then Tether, then Bootstrap JS. -->
	<link rel="stylesheet" href="{{ url_for('static', filename='js/owl.carousel.min.js') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery.slicknav.js') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-min.js') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='js/popper.min.js') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery.counterup.min.js') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='js/waypoints.min.js') }}" />
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='js/form-validator.min.js') }}" /> -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='js/contact-form-script.js') }}" /> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='js/main.js') }}" />
    
  </body>
</html>