{% extends 'application.html' %}

{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-md-6  m-auto text-center'>
				<div>
					{% if job_application_histories %}
						<h3>Job Applications History</h3>
						<div>
							{% for job_application in job_application_histories %}
								<div class='card mb-3'>
									<div class='card-body'>
										<p class='lead'>
											<strong>Title:</strong> {{ job_application.job.title_original }}
											<br>
											<strong>Applied on: </strong> {{ job_application.application_date }}
											<br>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					{% else %}
						<p>
							No Job Applications History Available
						</p>
					{% endif %}
				</div>
				<hr/>
			</div>
		</div>
	</div>
{% endblock %}