{% extends 'application.html' %}

{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-md-6  m-auto text-center'>
				<div>
					{% if job_histories %}
						<h3>Job History</h3>
						<div>
							{% for job_history in job_histories %}
								<div class='card mb-3'>
									<div class='card-body'>
										<p class='lead'>
											<strong>Title:</strong> {{ job_history.job_title }}
											<br>
											<strong>Sequence:</strong> {{ job_history.sequence }}
											<br>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					{% else %}
						<p>
							No Job History Available
						</p>
					{% endif %}
				</div>
				<hr/>
			</div>
		</div>
	</div>
{% endblock %}